body {
	margin: 0;
	background: #32b2a6;
	font-family: "Helvetica Neue", sans-serif;
}

.main{
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
}

header{
	background-color: #1a433f;
	order: 1; height: 5vh; flex: auto;
}

.logo {
    padding-left: 15%;
	float: left;
	width: 50%
}

.power-graph-row{
	order: 2; height: 50vh; flex: auto;
}

.power-graph-button{
	background: #32b2a6;
	height:100%;
	width: 100%;
	margin: 0;
}

.power-reading-row{
	background-color:#00897B;
	order: 3; height: 10vh; flex: auto;
}

.power-label{
	font-size: 7vh;
	color:white;
	text-align: center;
	line-height: 150%;
	letter-spacing: 20px;
	font-weight: 200;

}

.bottom-display-row{
	order: 4; height: 35vh; flex: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	flex-flow: column;
}

.bottom-display-col{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	flex-flow: row;
}
