body {
	margin: 0;
	background: #32b2a6;
	font-family: "Helvetica Neue", sans-serif;
}

.main{
	display: -webkit-flex;
	display: flex;
	flex-flow: column;
    width: 100%;
}

header{
	background-color: #1a433f;
    display: -webkit-flex;
    display: flex;
	order: 1; height: 5vh; flex: auto;
    justify-content: space-around;
    padding: 1%;
}


.clock {
    padding-top: 1%;
    font-size: 3vh;
    color:white;
    letter-spacing: 10px;
    font-weight: bold;
    text-align: center;

}
.power-graph-row{
	order: 2; height: 50vh; flex: auto;
}

.power-graph-button{
	background: #32b2a6;
	height:100%;
	width: 100%;
	margin: 0;
}

.power-reading-row{
	background-color:#00897B;
	order: 3; height: 10vh; flex: auto;
}

.power-label{
	font-size: 7vh;
	color:white;
	text-align: center;
	line-height: 150%;
	letter-spacing: 20px;
	font-weight: 200;

}

.co2-label{
    padding-top: 10%;
    font-size: 3vh;
    color:white;
    text-align: center;
    line-height: 150%;
    letter-spacing: 10px;
    font-weight: 100;

}


.temp-label{
    padding-top: 10%;
    font-size: 3vh;
    color:white;
    text-align: center;
    line-height: 150%;
    letter-spacing: 10px;
    font-weight: 100;

}

.bottom-display-row{
	order: 4; height: 35vh; flex: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	flex-flow: column;
}

.bottom-display-col{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	flex-flow: row;
}
